<html>
<head><title>Notfallmeldezentrale</title></head>

<body><h1>Simple Test</h1>
<p>Peer: <%= peer%></p><br>
<p>Text: <input name=data></input>
<p>Send to peer: <input name=target></input> </p>
<button name=sendBtn>send</button><br>
</body>
</html>