<!DOCTYPE html>
<html>

<head>
    <title>Notfallmeldezentrale - Übersicht</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="bundle.js"></script>
    <!--<script src="jquery-3.2.1.min.js"></script>-->
    <!--<script src="main.js"></script>-->
    <h1> Willkommen zur Notfallmeldezentrale</h1>

    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
<label>Eingehende Daten:</label>
<p id="incoming"></p>
</br>
<button id="private" disabled="true">Go private</button>
<span style="color: red;" id="upgrade-msg"></span>

<!--<a href=/video class="btn btn-default btn-sm"><span class="fa fa-video-camera"></span> Webvideo</a>-->
<!--<a href=/videocall class="btn btn-default"><span class="fa fa-video-camera"></span> Video</a>-->

</body>

</html>
