<!DOCTYPE html>
<html>

<head>
    <title>Notfallmeldezentrale</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="socket.io.slim.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
    <script src="main.js"></script>
    <!--<script src="indec.js"></script>-->
    <h1> Willkommen zur Notfallmeldezentrale v1</h1>

    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
<label>Eingehende Daten:</label><p id="incoming"></p>

    <!--<a href=/chat class="btn btn-default"><span class="fa fa-video-camera"></span> Chat</a>-->
    <!--<a href=/videocall class="btn btn-default"><span class="fa fa-video-camera"></span> Video</a>-->

</body>

</html>
